.top-container {
  padding-top: 10vh;
  padding-bottom: 5vh;
  background-color: rgb(221, 242, 255);
  background-image: url('https://i.ibb.co/Qc15jm8/lou-brassard-vu-NTWzg4zdo-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-text {
  color: white;
}
